@import '../../styles/variables';

.loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 400px;

    .loader {
        border: 4px solid $mainBg;
        border-top: 16px solid $accentColor;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        animation: spin 2s linear infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}