@import '../../styles/variables';

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: $spacingSmall;
    padding: 1rem;

    .nav-right{
        .currentUser{
            background-color: whitesmoke;
            border-radius: 50%;
            padding: 0.2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.4rem;

            &:hover{
                cursor: pointer;
                background-color: #c8c8c8;
            }

            img{
                width: 30px;
                height: 30px;
            }
        }
    }
}